@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.primary") theme("colors.background");
  }

  ::-webkit-scrollbar-track {
    background: theme("colors.background");
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary");
    border-radius: 20px;
    border: 3px solid theme("colors.background");
  }

  img {
    @apply select-none;
  }

  .input {
    @apply w-full rounded-md border-2 bg-zinc-700 px-2 py-1 text-zinc-200 shadow-sm transition-all hover:shadow-primary/40;
  }
}

.ellipsis-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
